annotated-types==0.6.0
greenlet==3.0.3
psycopg-binary==3.1.17
psycopg[binary]==3.1.17
pydantic-core==2.14.6
pydantic==2.5.3
pyyaml==6.0.1
sqlalchemy-utils==0.41.1
sqlalchemy==2.0.25
typing-extensions==4.9.0
tzdata==2023.4
